[Unit]
Description=keenaqua
After=multi-user.target

[Service]
ExecStart=/home/pi/data/github.com/claytantor/keenaqua-control/venv/bin/python -u /home/pi/data/github.com/claytantor/keenaqua-control/app.py --config /home/pi/data/github.com/claytantor/keenaqua-control/config.yml
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=keenaqua
Restart=always
User=root

[Install]
WantedBy=multi-user.target
